@import "variables.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
    -webkit-font-smoothing: antialiased;
}

body {
    width: 390px !important;
    height: 600px !important;
    overflow: hidden;
    color: $text-color;
    background-color: $background-color;

    @include themify($themes) {
        color: themed('textColor');
        background-color: themed('backgroundColor');
    }

    &.body-sm {
        width: 375px !important;
        height: 500px !important;
    }

    &.body-xs {
        width: 375px !important;
        height: 300px !important;
    }

    &.body-full {
        width: 100% !important;
        height: 100% !important;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif;

    @include themify($themes) {
        color: themed('textColor');
    }
}

p {
    margin-bottom: 10px;
}

ul, ol {
    margin-bottom: 10px;
}

img {
    border: none;
}

a {
    text-decoration: none;

    @include themify($themes) {
        color: themed('primaryColor');
    }

    &:hover, &:focus {
        @include themify($themes) {
            color: darken(themed('primaryColor'), 6%);
        }
    }
}

input, select, textarea {
    @include themify($themes) {
        color: themed('textColor');
        background-color: themed('inputBackgroundColor');
    }
}

input, select, textarea, button {
    font-size: $font-size-base;
    font-family: $font-family-sans-serif;
}

button {
    white-space: nowrap;
    cursor: pointer;
}

textarea {
    resize: vertical;
}

main {
    height: 100%;
}

content::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

content::-webkit-scrollbar-track {
    background-color: transparent;
}

content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    margin-right: 1px;

    @include themify($themes) {
        background-color: themed('scrollbarColor');
    }

    &:hover {
        @include themify($themes) {
            background-color: themed('scrollbarHoverColor');
        }
    }
}

header {
    min-height: 44px;
    max-height: 44px;
    display: flex;
    border-bottom: 1px solid #000000;

    @include themify($themes) {
        color: themed('headerColor');
        background-color: themed('headerBackgroundColor');
        border-bottom-color: themed('headerBorderColor');
    }

    button {
        background-color: unset;
        flex-grow: 0;
        border: none;
        padding: 0 10px;
        &:hover, &:focus {
            @include themify($themes) {
                background-color: themed('headerBackgroundHoverColor');
            }
        }
    }

    .left, .right {
        flex: 1;
        display: flex;
        min-width: -webkit-min-content; /* Workaround to Chrome bug */
        .header-icon {
            margin-right: 5px;
        }
    }

    .right {
        justify-content: flex-end;
    }

    .center {
        display: flex;
        align-items: center;
        text-align: center;
        min-width: 0;
    }

    div > button, div > a {
        border: none;
        padding: 0 10px;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @include themify($themes) {
            color: themed('headerColor');
            background-color: themed('headerBackgroundColor');
        }

        &:hover, &:focus {
            @include themify($themes) {
                background-color: themed('headerBackgroundHoverColor');
                color: themed('headerColor');
            }
        }

        &:focus {
            text-decoration: underline;
        }

        &[disabled] {
            opacity: 0.65;
            cursor: default !important;
        }

        i + span {
            margin-left: 5px;
        }
    }

    .title {
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .search {
        flex-grow: 1;
        margin: 6px 0;
        display: flex;
        align-items: center;
        border-radius: 14px;
        @include themify($themes) {
            background-color: themed('headerInputBackgroundColor');
            color: themed('headerInputColor');
        }

        .fa {
            width: 15px;
            @include themify($themes) {
                color: themed('headerInputPlaceholderColor');
            }
        }

        .fa-search {
            margin-left: 7px;
            margin-right: 7px;
        }

        .fa-close {
            margin-left: 0px;
            margin-right: 7px;
            &:hover {
                color: white !important;
            }
        }

        #search-tag {
            flex-grow: 0;
            flex-shrink: 0;
            padding: 0 6px;
            background-color: white;
            color : $brand-primary;
            border-radius: 4px;
            white-space: nowrap;
            overflow: hidden;
            font-size: 12px;
            font-weight: bold;
            :first-child {
                position: relative;
            }
            :last-child {
                color: #8d8d8d;
                border-left: 1px solid #8d8d8d;
                font-size: 0.6em;
                padding: 0 0 0 4px;
                margin: 0 0 0 4px;
            }
        }

        &:hover {
            cursor: pointer;
            input {
                cursor: pointer;
            }
            #search-tag-text::after{
                content: '';
                border-bottom: 1px solid $brand-primary;
                position: absolute;
                left: 0;
                top: 56%;
                width: 100%;
            }
            #search-tag-text+span {
                color: $brand-primary;
                border-color: $brand-primary;
            }
        }

        input {
            width: 100%;
            margin-left: 4px;
            border: none;
            @include themify($themes) {
                background-color: themed('headerInputBackgroundColor');
                color: themed('headerInputColor');
            }

            &:focus {
                outline: none;
                @include themify($themes) {
                    background-color: themed('headerInputBackgroundFocusColor');
                }
            }

            &::-webkit-search-cancel-button {
                appearance: none;
            }

            &::-webkit-input-placeholder {
                @include themify($themes) {
                    color: themed('headerInputPlaceholderColor');
                }
            }
        }
        &.hideSearchTag {
            #search-tag {
                display: none;
                padding: 0;
            }
        }

    }

}

.content {
    padding: 15px;
}

.ciphersPanel {
    position: absolute;
    top: 0;
    bottom: 0;
    @include themify($themes) {
        background-color: themed('backgroundColor');
    }
    transform : translateX(100%);
    width: 100%;
    z-index: 10;
    box-shadow: -3px 0 2px -2px gray;
}

.tabs {
    width: 100%;
    height: 55px;
    border-top: 1px solid #000000;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    @include themify($themes) {
        background-color: themed('tabBackgroundColor');
        border-top-color: themed('borderColor');
    }

    ul {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            width: 25%;
            float: left;
            display: inline-block;
            padding: 0;
            margin: 0;

            a {
                text-align: center;
                display: block;
                padding: 7px 0;
                text-decoration: none;
                font-size: 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $text-muted;

                &:hover, &:focus {
                    @include themify($themes) {
                        background-color: themed('tabBackgroundHoverColor');
                    }
                }

                i {
                    display: block;
                    margin-bottom: 2px;
                    text-align: center;
                }
            }

            &.active * {
                color: $brand-primary;
                a {
                    @include themify($themes) {
                        color: themed('primaryColor'); //used to keep tab colored when active
                    }
                }
            }
        }
    }

    &.tabs-3 {
        ul li {
            width: 33.33%;
        }
    }
}

app-root {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 980;
}

content {
    position: absolute;
    top: 44px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;

    @include themify($themes) {
        background-color: themed('backgroundColor');
    }

    &.no-header {
        top: 0;
    }
}

.tab-page {
    content {
        bottom: 55px;
    }
}

.center-content, .no-items, .full-loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    flex-grow: 1;
}

.no-items, .full-loading-spinner {
    text-align: center;

    .fa {
        margin-bottom: 10px;

        @include themify($themes) {
            color: themed('disabledIconColor');
        }
    }
}
